{% extends "base.html" %}
{% load custom %}

{% block title %}{{ block.super }} Упр. компании{% endblock title %}

{% block content %}

<div class="row">
  <div class="col"><h2>{{ company.title }}</h2></div>
  {% if company|object_can_admin:user %}
    {% url 'companies:update' company.id as update_url %}
    {% url 'companies:delete' company.id as delete_url %}
    {% include "utils/actions.html" with update_url=update_url delete_url=delete_url %}
  {% endif %}
</div>
<div class="row">
  <div class="col"><b>Оценка/Отзывов:</b> {{ company.rate|default_if_none:0 }}/{{ company.rated|default_if_none:0 }}</div>
</div>
<div class="row">
  <div class="col"><b>Адрес:</b> {{ company.address }}</div>
</div>
<div class="row">
  <div class="col"><b>Телефон:</b> {{ company.phone }}</div>
</div>
{% if company.email %}
  <div class="row">
    <div class="col"><b>Эл. почта:</b> <a href="mailto:{{ company.email }}" target="_blank">{{ company.email }}</a></div>
  </div>
{% endif %}
{% if company.href %}
  <div class="row">
    <div class="col"><a href="{{ company.href }}" target="_blank">Сайт</a></div>
  </div>
{% endif %}

{% if user.is_authenticated %}
<div class="row mt-3">
  <div class="col-sm-2">
    <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapse" role="button" aria-expanded="false" aria-controls="collapseExample">
      Оставить отзыв
    </a>
  </div>
</div>
<div class="collapse row border mt-1" id="collapse">
  <div class="col">
    <form method="POST" action="{% if user_review %}{% url 'companies:review-update' user_review.id %}{% else %}{% url 'companies:review-add' %}{% endif %}">
      {% csrf_token %}
      <input type="hidden" name="company" value="{{ company.id }}">
      <div class="row">
        <div class="col pt-3">
          <label for="rate" class="form-label">Оценка:</label>
          {% for val in '12345'|make_list %}
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="rate" id="rate{{ val }}" value="{{ val }}" {% if user_review.rate|stringformat:'1d' == val %}checked=""{% endif %}>
              <label class="form-check-label" for="rate{{ val }}">{{ val }}</label>
            </div>
          {% endfor %}
        </div>
      </div>
      <div class="row">
        <div class="col">
          <label for="message" class="form-label">Отзыв</label>
          <textarea id="message" name="message" class="form-control" rows="5">{% if user_review %}{{ user_review.message|default_if_none:'' }}{% endif %}</textarea>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-2 mt-1 ms-auto">
          <button class="w-100 btn btn-primary btn-lg" type="submit">Сохранить</button>
        </div>
      </div>
    </form>
  </div>
</div>
{% endif %}

{% if reviews %}
<div class="row mt-5">
  <div class="col">
    <h3>Отзывы</h3>
    {% for review in reviews %}
      <div class="card">
        <div class="card-body">
          <div class="card-title">
            Отзыв от: <b>{{ review.user.title }}</b>, оценка: <b>{{ review.rate }}</b>, {{ review.updated_dt|change_tz:user|date:'d.m.Y H:i:s' }}
          </div>
          <p class="card-text">{{ review.message }}</p>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
{% endif %}

{% endblock content %}