{% extends "base.html" %}

{% block title %}{{ block.super }} Упр. компании{% endblock title %}

{% block content %}

<div class="col-lg-6">

  <form method="POST" class="needs-validation" novalidate>
    {% csrf_token %}
    <div class="row g-3">

      <div class="col-12">
        <label for="title" class="form-label">Название</label>
        <input type="text" id="title" name="title" class="form-control {% if form.is_bound %}is-{% if form.title.errors %}in{% endif %}valid{% endif %}" required autofocus value="{{ form.title.value|default_if_none:'' }}">
        <div class="invalid-feedback">{{ form.title.errors }}</div>
      </div>

      <div class="col-12">
        <label for="address" class="form-label">Адрес</label>
        <input type="text" id="address" name="address" class="form-control {% if form.is_bound %}is-{% if form.address.errors %}in{% endif %}valid{% endif %}" required value="{{ form.address.value|default_if_none:'' }}">
        <div class="invalid-feedback">{{ form.address.errors }}</div>
      </div>

      <div class="col-12">
        <label for="phone" class="form-label">Телефон</label>
        <input type="text" id="phone" name="phone" class="form-control {% if form.is_bound %}is-{% if form.phone.errors %}in{% endif %}valid{% endif %}" required value="{{ form.phone.value|default_if_none:'' }}">
        <div class="invalid-feedback">{{ form.phone.errors }}</div>
      </div>

      <div class="col-12">
        <label for="href" class="form-label">Сайт</label>
        <input type="url" id="href" name="href" class="form-control  {% if form.is_bound %}is-{% if form.href.errors %}in{% endif %}valid{% endif %}" value="{{ form.href.value|default_if_none:'' }}">
        <div class="invalid-feedback">{{ form.href.errors }}</div>
      </div>

      <div class="col-12">
        <label for="email" class="form-label">Эл. почта</label>
        <input type="text" id="email" name="email" class="form-control {% if form.is_bound %}is-{% if form.email.errors %}in{% endif %}valid{% endif %}" value="{{ form.email.value|default_if_none:'' }}">
        <div class="invalid-feedback">{{ form.email.errors }}</div>
      </div>

      <div class="col-12">
        <label for="city" class="form-label">Город</label>
        <select id="city" class="form-select" name="city" required>
          {% if form.city|length == 2 %}
            {{ form.city.1 }}
          {% else %}
            {% for option in form.city %}
              {{ option }}
            {% endfor %}
          {% endif %}
        </select>
        <div class="invalid-feedback">{{ form.city.errors }}</div>
      </div>

      <hr class="my-4"/>

      <div class="col-12">
        <button class="w-100 btn btn-primary btn-lg" type="submit">Сохранить</button>
      </div>

    </div>
  </form>
</div>

{% endblock content %}