<div class="card mb-3">
  <div class="card-body">
    <div class="card-title">
      <div class="row">
        <div class="col-md-5">
          {{ company.title }}
          {% if company in user_companies %}&nbsp;<b>Ваша УК!</b>{% endif %}
        </div>
        {% if can_admin %}
          {% url 'companies:update' company.id as update_url %}
          {% url 'companies:delete' company.id as delete_url %}
          {% include "utils/actions.html" with update_url=update_url delete_url=delete_url %}
        {% endif %}
      </div>
    </div>
    <p class="card-text">Оценка/Отзывов: {{ company.rate|default_if_none:0 }}/{{ company.rated|default_if_none:0 }}</p>
    <a href="{% url 'companies:details' company.id %}">Подробнее</a>
  </div>
</div>