{% extends "base.html" %}
{% load custom %}

{% block title %}{{ block.super }} Упр. компании{% endblock title %}

{% block content %}

  {% regroup companies by city as groupped_comps %}

  {% if groupped_comps|length > 1 %}
	<ul class="nav nav-tabs" role="tablist" id="tabsNav">
	  {% for comp in groupped_comps %}
	    <li class="nav-item">
	      <a class="nav-link {% if forloop.counter0 == 0 %}active{% endif %}" id="tab-{{ comp.grouper.id }}" aria-current="page" href="#">{{ comp.grouper.title }}</a>
	    </li>
	  {% endfor %}
	</ul>
	<div class="tab-content" id="companiesTabs">
	  {% for comp in groupped_comps %}
	    <div class="tab-pane fade show {% if forloop.counter0 == 0 %}active{% endif %}" id="{{ comp.grouper.id }}" role="tabpanel" aria-labelledby="tab-{{ comp.grouper.id }}">
	      {% for company in comp.list %}
	        {% include 'companies/list-item.html' with company=company user_companies=user_companies can_admin=company|object_can_admin:user %}
          {% endfor %}
	    </div>
	  {% endfor %}
	</div>
  {% else %}
    {% for company in companies %}
      {% include 'companies/list-item.html' with company=company user_companies=user_companies can_admin=company|object_can_admin:user %}
    {% endfor %}
  {% endif %}

{% endblock content %}