{% extends "base.html" %}

{% block title %}Авторизация{% endblock title %}

{% block content %}

<div class="row justify-content-evenly">

  <div class="col-4">
      {% if form.errors %}<p>Указаны неверные данные</p>{% endif %}
      <h3>Войти</h3>
      <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ next }}">

        <label for="username" class="visually-hidden">Эл. почта</label>
        <input type="email" name="username" id="username" class="form-control mb-2" placeholder="Эл. почта" required autofocus value="{{ form.username.value|default_if_none:'' }}">

        <label for="password" class="visually-hidden">Пароль</label>
        <input type="password" name="password" id="password" class="form-control mb-2" placeholder="Пароль" required value="{{ form.password.value|default_if_none:'' }}">

        <button class="w-100 btn btn-lg btn-primary" type="submit">Войти</button>
      </form>
      <br/>
      <p><a href="{% url 'password_reset' %}">Забыли пароль?</a></p>
      <br/>
      <p>Или войти с помощью:</p>
      <a href="{% url "social:begin" "google-oauth2" %}">Google+</a>
      <a href="{% url "social:begin" "google-oauth2" %}">Mail.ru</a>
  </div>

  <div class="col-4">
      {% if reg_form.errors %}<p>Указаны неверные данные</p>{% endif %}

      <h3>Регистрация</h3>
      <form method="POST" action="{% url 'users:register' %}" class="needs-validation" novalidate>
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ next }}">
        <input type="hidden" name="link" value="{{ link }}">

        <label for="reg_email" class="visually-hidden">Эл. почта</label>
        <input type="email" id="reg_email" name="email" class="form-control mb-2 {% if reg_form.is_bound %}is-{% if reg_form.email.errors %}in{% endif %}valid{% endif %}" placeholder="Эл. почта" required autofocus value="{{ reg_form.email.value|default_if_none:'' }}">
        <div class="invalid-feedback">{{ reg_form.email.errors }}</div>

        <label for="reg_nick" class="visually-hidden">Имя пользователя для отображения на сайте</label>
        <input type="text" id="reg_nick" name="username" class="form-control mb-2 {% if reg_form.is_bound %}is-{% if reg_form.username.errors %}in{% endif %}valid{% endif %}" placeholder="Имя пользователя для отображения на сайте" value="{{ reg_form.username.value|default_if_none:'' }}">
        <div class="invalid-feedback">{{ reg_form.username.errors }}</div>

        <label for="reg_password1" class="visually-hidden">Пароль</label>
        <input type="password" id="reg_password1" name="password1" class="form-control mb-2 {% if reg_form.is_bound %}is-{% if reg_form.password1.errors %}in{% endif %}valid{% endif %}" placeholder="Пароль" required>
        <div class="invalid-feedback">{{ reg_form.password1.errors }}</div>

        <label for="reg_password2" class="visually-hidden">Ёще раз пароль</label>
        <input type="password" id="reg_password2" name="password2" class="form-control mb-2 {% if reg_form.is_bound %}is-{% if reg_form.password2.errors %}in{% endif %}valid{% endif %}" placeholder="Пароль" required>
        <div class="invalid-feedback">{{ reg_form.password2.errors }}</div>

        <button class="w-100 btn btn-lg btn-primary" type="submit">Зарегистрироваться</button>
      </form>
    </div>

</div>

{% endblock %}