{% extends "base.html" %}
{% load static %}

{% block title %} Login {% endblock title %}

{% block css %}<link href="{% static 'css/login.css' %}" rel="stylesheet">{% endblock css %}

{% block content %}
<div class="form-signin">

  {% if form.errors %}
    <p>Your username and password didn't match. Please try again.</p>
  {% endif %}

  <form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    <input type="hidden" name="next" value="{{ next }}">
    <h1 class="h3 mb-3 fw-normal">Please sign in</h1>
    <label for="inputEmail" class="visually-hidden">Email address</label>
    <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus value="{{ form.username.value|default_if_none:'' }}">
    <label for="inputPassword" class="visually-hidden">Password</label>
    <input type="password" id="inputPassword" class="form-control" placeholder="Password" required value="{{ form.password.value|default_if_none:'' }}">
    <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
  </form>
  <p><a href="{% url 'password_reset' %}">Lost password?</a></p>

</div>
{% endblock %}