{% extends "base.html" %}
{% load static %}

{% block title %}{{ block.super }} Собрания{% endblock title %}

{% block content %}

<div class="col-lg-6">

  <form method="POST" class="needs-validation" novalidate>
    {% csrf_token %}
    <div class="row g-3">

      <div class="col-12" style="position:relative;">
        <label for="appointed_dt" class="form-label">Время проведения</label>
        <input type="text" id="appointed_dt" name="appointed_dt" class="form-control {% if form.is_bound %}is-{% if form.appointed_dt.errors %}in{% endif %}valid{% endif %}" required autofocus value="{{ form.appointed_dt.value|date:'d.m.Y H:i'|default_if_none:'' }}">
        <div class="invalid-feedback">{{ form.appointed_dt.errors }}</div>
      </div>

      <div class="col-12">
        <label for="appointed_place" class="form-label">Место проведения</label>
        <input type="text" id="appointed_place" name="appointed_place" class="form-control {% if form.is_bound %}is-{% if form.appointed_place.errors %}in{% endif %}valid{% endif %}" value="{{ form.appointed_place.value|default_if_none:'' }}">
        <div class="invalid-feedback">{{ form.appointed_place.errors }}</div>
      </div>

      <div class="col-12">
        <label for="house" class="form-label">Дом</label>
        <select id="house" class="form-select" name="house">
          {% if form.house|length == 2 %}
            {{ form.house.1 }}
          {% else %}
            {% for option in form.house %}
              {{ option }}
            {% endfor %}
          {% endif %}
        </select>
        <div class="invalid-feedback">{{ form.house.errors }}</div>
      </div>

      <hr class="my-4"/>

      <div class="col-12">
        <button class="w-100 btn btn-primary btn-lg" type="submit">Сохранить</button>
      </div>

    </div>
  </form>
</div>

{% endblock content %}

{% block js %}
  <script type="text/javascript" src="{% static 'vendor/jquery.mask.min.js' %}"></script>
  <script type="text/javascript">
    $(document).ready(function() {
      $('#appointed_dt').mask('00.00.0000 00:00', {'placeholder': 'дд.мм.гггг чч:мм'});
    });  
  </script>
{% endblock js %}