{% extends "base.html" %}
{% load custom %}

{% block title %}{{ block.super }} Собрания{% endblock title %}

{% block content %}

  {% regroup meetings by house as groupped_meets %}

  {% if groupped_meets|length > 1 %}
    <ul class="nav nav-tabs" role="tablist" id="tabsNav">
      {% for meet in groupped_meets %}
        <li class="nav-item">
          <a class="nav-link {% if forloop.counter0 == 0 %}active{% endif %}" id="tab-{{ meet.grouper.id }}" aria-current="page" href="#">{{ meet.grouper.title }}</a>
        </li>
      {% endfor %}
    </ul>
    <div class="tab-content">
      {% with is_house_admin=meet.list.0|object_can_admin:user %}
        {% for meet in groupped_meets %}
          <div class="tab-pane fade show {% if forloop.counter0 == 0 %}active{% endif %}" id="{{ meet.grouper.id }}" role="tabpanel" aria-labelledby="tab-{{ meet.grouper.id }}">
            {% for meeting in meet.list %}
              {% include 'meetings/list-item.html' with meeting=meeting can_admin=is_house_admin %}
            {% endfor %}
          </div>
        {% endfor %}
      {% endwith %}
    </div>
  {% else %}
    {% with is_house_admin=meetings.0|object_can_admin:user %}
      {% for meeting in meetings %}
        {% include 'meetings/list-item.html' with meeting=meeting can_admin=is_house_admin %}
      {% endfor %}
    {% endwith %}
  {% endif %}

{% endblock content %}