<div class="card mb-3">
  <div class="card-body">
    {% if can_admin %}
      <div class="card-title">
        <div class="row">
          <div class="col-md-5">&nbsp;</div>
  	      {% url 'meetings:update' meeting.id as update_url %}
		  {% url 'meetings:delete' meeting.id as delete_url %}
		  {% include "utils/actions.html" with update_url=update_url delete_url=delete_url %}
        </div>
      </div>
    {% endif %}
    <p class="card-text"><b>Время проведения:</b> {{ meeting.appointed_dt|date:'d.m.Y H:i' }}</p>
    <p class="card-text"><b>Место проведения:</b> {{ meeting.appointed_place }}</p>
  </div>
</div>