{% extends "base.html" %}

{% block title %}{{ block.super }} Информация{% endblock title %}

{% block content %}

  {% if houses|length > 1 %}
	<ul class="nav nav-tabs" role="tablist" id="tabsNav">
	  {% for house in houses %}
	    <li class="nav-item">
	      <a class="nav-link {% if forloop.counter0 == 0 %}active{% endif %}" id="tab-{{ house.id }}" aria-current="page" href="#">{{ house.title }}</a>
	    </li>
	  {% endfor %}
	</ul>
	<div class="tab-content" id="housesTabs">
	  {% for house in houses %}
	    <div class="tab-pane fade show {% if forloop.counter0 == 0 %}active{% endif %}" id="{{ house.id }}" role="tabpanel" aria-labelledby="tab-{{ house.id }}">
	      {% for house in houses %}
            {% include 'houses/list-item.html' with house=house title=0 %}
          {% endfor %}
	    </div>
	  {% endfor %}
	</div>
  {% else %}
    {% for house in houses %}
      {% include 'houses/list-item.html' with house=house title=1 %}
    {% endfor %}
  {% endif %}

{% endblock content %}