{% load custom %}

{% if title %}
  <div class="row"><h2>{{ house.title }}</h2></div>
{% endif %}

{% if house|object_can_admin:user %}
<div class="row mt-3">
  <div class="col">
    <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapse1" role="button" aria-expanded="false" aria-controls="collapse1">
      Изменить
    </a>
    <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapse2" role="button" aria-expanded="false" aria-controls="collapse2">
      Жители
    </a>
    {% if companies|length > 1 or companies.0 != house.company %}
      <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapse3" role="button" aria-expanded="false" aria-controls="collapse3">
        Сменить УК
      </a>
    {% endif %}
  </div>
</div>
<div class="collapse row border mt-1 p-1" id="collapse1">
  <div class="col">
    <form method="POST" action="{% url 'houses:update-info' house.info.id %}">
      {% csrf_token %}
      <div class="row">
        <div class="col">
          <label for="info" class="form-label">Информация</label>
          <textarea id="info" name="info" class="form-control" rows="5">{{ house.info.info|default_if_none:'' }}</textarea>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-2 mt-1 ms-auto">
          <button class="w-100 btn btn-primary btn-lg" type="submit">Сохранить</button>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="collapse row border mt-1 p-1" id="collapse2">
  <div class="col">
    <div class="row">
      <div class="col">
        <form class="row row-cols-lg-auto g-3 align-items-center" method="POST" action="{% url 'houses:user-link' %}">
          <label class="col-form-label col-sm-2" for="username">Добавить жителя</label>
          <div class="col-12">
              <input type="text" class="form-control" id="username" name="username" placeholder="Имя пользователя" required>
          </div>
          <div class="col-12">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="is_admin" name="is_admin">
              <label class="form-check-label" for="is_admin">Админ дома</label>
            </div>
          </div>
          <div class="col-12">
            <button type="submit" class="btn btn-primary">Сохранить</button>
          </div>
        </form>
      </div>
    </div>
    <br/>
    <div class="row">
      <div class="col">
        {% for user in house.list_users %}
          {% cycle '<div class="row">' '' %}      
            <div class="col-md-5 me-5">
              <div class="row">
                <div class="col">{{ user.username }}</div>
                {% with user|get_membership:house as mem %}
                  {% if mem %}
                    {% url 'houses:user-unlink' mem.id  as url %}
                    {% include 'utils/actions.html' with update_url=None delete_url=url %}
                  {% endif %}
                {% endwith %}
              </div>
            </div>
          {% cycle '' '</div>' %}
        {% endfor %}
        {% if not house.users.all|length|divisibleby:'2' %}
          </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>

  {% if companies|length > 1 or companies.0 != house.company %}
    <div class="collapse row border mt-1 p-1" id="collapse3">
      <div class="col">
        <form method="POST" action="{% url 'houses:update-info' house.info.id %}">
          {% csrf_token %}
          <div class="row">
            <div class="col">
              <label for="company" class="form-label">УК</label>
              <select name="company" id="company">
                {% for company in companies %}
                  <option value="{{ company.id }}">{{ company.title }}</option>
                {% endfor %}
              </select>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-2 mt-1 ms-auto">
              <button class="w-100 btn btn-primary btn-lg" type="submit">Сохранить</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  {% endif %}

{% endif %}

{% if house.company %}
  <div class="row mt-3">
    <div class="col">Ваша УК: <a href="{% url 'companies:details' house.company_id %}">{{ house.company }}</a></div>
  </div>
{% endif %}


{% if house.info %}
  <div class="row mt-3">
    <div class="col">{{ house.info.info|safe }}</div>
  </div>
{% endif %}

{% if house.city.info %}
  <div class="row mt-3">
    <div class="col">{{ house.city.info.info|safe }}</div>
  </div>
{% endif %}

{% if house.city.region.info %}
  <div class="row mt-3">
    <div class="col">{{ house.city.region.info.info|safe }}</div>
  </div>
{% endif %}