{% extends "base.html" %}

{% block title %}{{ block.super }} Форум{% endblock title %}

{% block content %}

  <h2>{{ category.title }}</h2>

  {% if user.is_authenticated %}
    <div class="row mt-3">
      <div class="col-sm-3">
        <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapse" role="button" aria-expanded="false" aria-controls="collapseExample">
          Добавить обсуждение
        </a>
      </div>
    </div>
    <div class="{% if not adding %}collapse{% endif %} row border mt-1" id="collapse">
      <div class="col">
        <form method="POST" action="{% url 'forum:thread-add' %}">
          {% csrf_token %}
          <input type="hidden" name="category" value="{{ category.id }}">
          <div class="row">
            <div class="col">
              <label for="title" class="form-label">Тема</label>
              <input type="text" id="title" name="title" class="form-control" required {% if adding %}autofocus{% endif %}>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <label for="message" class="form-label">Сообщение</label>
              <textarea id="message" name="message" class="form-control" rows="5"></textarea>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-2 mt-1 ms-auto">
              <button class="w-100 btn btn-primary" type="submit">Сохранить</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  {% endif %}

  {% for thread in category.threads.all %}
    <div class="card mt-3">
      <div class="card-body">
        <div class="card-title">
          <div class="row">
            <div class="col-md-5">
              <a href="{% url 'forum:thread-details' thread.id %}">{{ thread.title }}</a>
            </div>
            <div class="col-sm-2 ms-auto">
              Сообщений: {{ thread.messages_count }}
            </div>
          </div>
        </div>
      </div>
    </div>
  {% endfor %}

{% endblock content %}