{% extends "base.html" %}

{% block title %}{{ block.super }} Форум{% endblock title %}

{% block content %}

  {% for category in categories %}
    <div class="card">
      <div class="card-body">
        <div class="card-title">
          <div class="row">
            <div class="col-md-5">
              <a href="{% url 'forum:details' category.id %}">{{ category.title }}</a>
            </div>
            <div class="col-sm-1 ms-auto">
              {% url 'forum:details' category.id as url %}
              {% include 'utils/add.html' with url=url add=True %}
            </div>
            <div class="col-sm-2">Обсуждений: {{ category.threads_count }}</div>
          </div>
        </div>
      </div>
    </div>
  {% endfor %}

{% endblock content %}