{% extends "base.html" %}
{% load custom %}

{% block title %}{{ block.super }} Форум{% endblock title %}

{% block content %}

  <h2>{{ thread.title }}</h2>

  {% if user.is_authenticated %}
    <div class="row mt-3">
      <div class="col-sm-2">
        <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapse" role="button" aria-expanded="false" aria-controls="collapseExample">
          Добавить сообщение
        </a>
      </div>
    </div>
    <div class="collapse row border mt-1" id="collapse">
      <div class="col">
        <form method="POST" action="{% url 'forum:message-add' %}">
          {% csrf_token %}
          <input type="hidden" name="thread" value="{{ thread.id }}">
          <div class="row">
            <div class="col">
              <label for="message" class="form-label">Сообщение</label>
              <textarea id="message" name="message" class="form-control" rows="5" required></textarea>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-2 mt-1 ms-auto">
              <button class="w-100 btn btn-primary btn-lg" type="submit">Сохранить</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  {% endif %}

  {% for message in thread.messages.all %}
    <div class="card mt-3">
      <div class="card-body">
        <div class="card-title">
          Сообщение от: <b>{{ message.user.title }}</b>, {{ message.created_dt|change_tz:user|date:'d.m.Y H:i:s' }}
        </div>
        <p class="card-text">{{ message.message }}</p>
      </div>
    </div>
  {% endfor %}

{% endblock content %}