{% extends "base.html" %}

{% block title %}{{ block.super }} Мастера{% endblock title %}

{% block content %}

<div class="col-lg-6">

  <form method="POST" class="needs-validation" novalidate>
    {% csrf_token %}
    <div class="row g-3">

      <div class="col-12">
        <label for="title" class="form-label">Название/Имя</label>
        <input type="text" id="title" name="title" class="form-control {% if form.is_bound %}is-{% if form.title.errors %}in{% endif %}valid{% endif %}" required autofocus value="{{ form.title.value|default_if_none:'' }}">
        <div class="invalid-feedback">{{ form.title.errors }}</div>
      </div>

      <div class="col-12">
        <label for="phone" class="form-label">Телефон</label>
        <input type="text" id="phone" name="phone" class="form-control {% if form.is_bound %}is-{% if form.phone.errors %}in{% endif %}valid{% endif %}" required value="{{ form.phone.value|default_if_none:'' }}">
        <div class="invalid-feedback">{{ form.phone.errors }}</div>
      </div>

      <div class="col-12">
        <label for="city" class="form-label">Город</label>
        <select id="city" class="form-select" name="city" required>
          {% if form.city|length == 2 %}
            {{ form.city.1 }}
          {% else %}
            {% for option in form.city %}
              {{ option }}
            {% endfor %}
          {% endif %}
        </select>
        <div class="invalid-feedback">{{ form.city.errors }}</div>
      </div>

      <div class="col-12">
        <label for="specialties" class="form-label">Специальность</label>
        <select id="specialties" class="form-select" name="specialties" multiple required>
          {% for option in form.specialties %}
            {{ option }}
          {% endfor %}
        </select>
        <div class="invalid-feedback">{{ form.specialties.errors }}</div>
      </div>

      <hr class="my-4"/>

      <div class="col-12">
        <button class="w-100 btn btn-primary btn-lg" type="submit">Сохранить</button>
      </div>

    </div>
  </form>
</div>

{% endblock content %}