{% extends "base.html" %}

{% block title %}{{ block.super }} Мастера{% endblock title %}

{% block content %}

  {% if specialties %}
    <form method="GET" class="needs-validation" novalidate>
      <div class="row mb-5">
        <label for="specialty" class="col-sm-2 col-form-label">Специальность</label>
        <div class="col-sm-5">
          <select id="specialty" class="form-select" name="specialty" required>
            {% for s in specialties %}
              <option value="{{ s.id }}">{{ s.title }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="col-sm-2">
          <button class="w-100 btn btn-primary btn-md" type="submit">Найти</button>
        </div>
      </div>
    </form>
  {% endif %}

  {% regroup workers by city as groupped_workers %}

  {% if groupped_workers|length > 1 %}
	<ul class="nav nav-tabs" role="tablist" id="tabsNav">
	  {% for work in groupped_workers %}
	    <li class="nav-item">
	      <a class="nav-link {% if forloop.counter0 == 0 %}active{% endif %}" id="tab-{{ work.grouper.id }}" aria-current="page" href="#">{{ work.grouper.title }}</a>
	    </li>
	  {% endfor %}
	</ul>
	<div class="tab-content" id="workersTabs">
	  {% for work in groupped_workers %}
	    <div class="tab-pane fade show {% if forloop.counter0 == 0 %}active{% endif %}" id="{{ work.grouper.id }}" role="tabpanel" aria-labelledby="tab-{{ work.grouper.id }}">
	      {% for worker in work.list %}
            {% include 'workers/list-item.html' with worker=worker %}
          {% endfor %}
	    </div>
	  {% endfor %}
	</div>
  {% else %}
    {% for worker in workers %}
      {% include 'workers/list-item.html' with worker=worker %}
    {% endfor %}
  {% endif %}

{% endblock content %}