<div class="card">
  <div class="card-body">
    <div class="card-title">
      <div class="row">
        <div class="col-md-5">{{ worker.title }}</div>
        {% if worker.user == user %}
          {% url 'workers:update' worker.id as update_url %}
          {% url 'workers:delete' worker.id as delete_url %}
          {% include "utils/actions.html" with update_url=update_url delete_url=delete_url %}
        {% endif %}
      </div>
    </div>
    <p class="card-text">
      Оценка/Отзывов: {{ worker.rate|default_if_none:0 }}/{{ worker.rated|default_if_none:0 }}
      Специальность: {{ worker.specialties_as_string }}
    </p>
    <a href="{% url 'workers:details' worker.id %}">Подробнее</a>
  </div>
</div>