{% extends "base.html" %}
{% load custom %}

{% block title %}{{ block.super }} Задачи{% endblock title %}

{% block content %}

<div class="row">
  <div class="row">
    <div class="col">
      <h2>{{ task.title }}</h2>
    </div>
    {% if task.user == user %}
      {% url 'tasks:update' task.id as update_url %}
      {% url 'tasks:delete' task.id as delete_url %}
      {% include "utils/actions.html" with update_url=update_url delete_url=delete_url %}
    {% endif %}
  </div>
  <div class="row mb-3">
    <div class="col-sm-4">
      Важность/Проголосовали: {{ task.rate|default_if_none:0 }}/{{ task.rated|default_if_none:0 }}
    </div>
  </div>
  <div class="row mb-3">
    <div class="col">{{ task.description }}</div>
  </div>
</div>

<div class="row mt-1">
  <div class="col border">
    <form method="POST" action="{% if user_rate %}{% url 'tasks:rate-update' user_rate.id %}{% else %}{% url 'tasks:rate-add' %}{% endif %}">
      {% csrf_token %}
      <input type="hidden" name="task" value="{{ task.id }}">
      <div class="row">
        <div class="col pt-3">
          <label for="rate" class="form-label">Оцените важность задачи:</label>
          {% for val in '12345'|make_list %}
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="rate" id="rate{{ val }}" value="{{ val }}" {% if user_rate.rate|stringformat:'1d' == val %}checked=""{% endif %}>
              <label class="form-check-label" for="rate{{ val }}">{{ val }}</label>
            </div>
          {% endfor %}
        </div>
        <div class="col-sm-2 mt-1 ms-auto">
          <button class="w-100 btn btn-primary btn-md" type="submit">Сохранить</button>
        </div>
      </div>
    </form>
  </div>
  <div class="col-sm-4 pt-1">
    <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapse" role="button" aria-expanded="false" aria-controls="collapseExample">
      Поучаствовать в обсуждении
    </a>
  </div>
</div>

<div class="collapse row border mt-1" id="collapse">
  <div class="col">
    <form method="POST" action="{% url 'tasks:message-add' %}">
      {% csrf_token %}
      <input type="hidden" name="task" value="{{ task.id }}">
      <div class="row">
        <div class="col">
          <label for="message" class="form-label">Сообщение</label>
          <textarea id="message" name="message" class="form-control" rows="5"></textarea>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-2 mt-1 ms-auto">
          <button class="w-100 btn btn-primary btn-lg" type="submit">Сохранить</button>
        </div>
      </div>
    </form>
  </div>
</div>

{% if task.messages.count %}
<div class="row mt-5">
  <div class="col">
    <h3>Обсуждение</h3>
    {% for message in task.messages.all %}
      <div class="card">
        <div class="card-body">
          <div class="card-title">
            Сообщение от: <b>{{ message.user.title }}</b>, {{ message.created_dt|change_tz:user|date:'d.m.Y H:i:s' }}
          </div>
          <p class="card-text">{{ message.message }}</p>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
{% endif %}

{% endblock content %}