{% extends "base.html" %}

{% block title %}{{ block.super }} Задачи{% endblock title %}

{% block content %}

<div class="col-lg-6">

  <form method="POST" class="needs-validation" novalidate>
    {% csrf_token %}
    <div class="row g-3">

      <div class="col-12">
        <label for="title" class="form-label">Название</label>
        <input type="text" id="title" name="title" class="form-control {% if form.is_bound %}is-{% if form.title.errors %}in{% endif %}valid{% endif %}" required autofocus value="{{ form.title.value|default_if_none:'' }}">
        <div class="invalid-feedback">{{ form.title.errors }}</div>
      </div>

      <div class="col-12">
        <label for="message" class="form-label">Описание</label>
        <textarea id="message" name="description" class="form-control" rows="5">{{ form.description.value }}</textarea>
      </div>

      <div class="col-12">
        <label for="house" class="form-label">Дом</label>
        <select id="house" class="form-select" name="house">
          {% if form.house|length == 2 %}
            {{ form.house.1 }}
          {% else %}
            {% for option in form.house %}
              {{ option }}
            {% endfor %}
          {% endif %}
        </select>
        <div class="invalid-feedback">{{ form.house.errors }}</div>
      </div>

      <hr class="my-4"/>

      <div class="col-12">
        <button class="w-100 btn btn-primary btn-lg" type="submit">Сохранить</button>
      </div>

    </div>
  </form>
</div>

{% endblock content %}