{% extends "base.html" %}

{% block title %}{{ block.super }} Задачи{% endblock title %}

{% block content %}

  {% regroup tasks by house as groupped_tasks %}

  {% if groupped_tasks|length > 1 %}
	<ul class="nav nav-tabs" role="tablist" id="tabsNav">
	  {% for tsk in groupped_tasks %}
	    <li class="nav-item">
	      <a class="nav-link {% if forloop.counter0 == 0 %}active{% endif %}" id="tab-{{ tsk.grouper.id }}" aria-current="page" href="#">{{ tsk.grouper.title }}</a>
	    </li>
	  {% endfor %}
	</ul>
	<div class="tab-content" id="tasksTabs">
	  {% for tsk in groupped_tasks %}
	    <div class="tab-pane fade show {% if forloop.counter0 == 0 %}active{% endif %}" id="{{ tsk.grouper.id }}" role="tabpanel" aria-labelledby="tab-{{ tsk.grouper.id }}">
          {% for task in tsk.list %}
            {% include 'tasks/list-item.html' with task=task %}
          {% endfor %}
	    </div>
	  {% endfor %}
	</div>
  {% else %}
    {% for task in tasks %}
      {% include 'tasks/list-item.html' with task=task %}
    {% endfor %}
  {% endif %}

{% endblock content %}