<div class="card">
  <div class="card-body">
    <div class="card-title">
      <div class="row">
        <div class="col-md-5 fs-3">{{ task.title }}</div>
        {% if task.user == user %}
            {% url 'tasks:update' task.id as update_url %}
            {% url 'tasks:delete' task.id as delete_url %}
            {% include "utils/actions.html" with update_url=update_url delete_url=delete_url %}
        {% endif %}
      </div>
    </div>
    <p class="card-text">Важность/Проголосовали: {{ task.rate|default_if_none:0 }}/{{ task.rated|default_if_none:0 }}</p>
    <a href="{% url 'tasks:details' task.id %}">Подробнее</a>
  </div>
</div>