{% extends "base.html" %}

{% block title %}{{ block.super }} Пользователь{% endblock title %}

{% block content %}

<div class="row">
  <div class="col"><h2>Ваш логин: {{ user.email }}</h2></div>
</div>
<div class="row">
  <div class="col">
    Ваш дом: {% for h in user.houses.all %}<a href="{% url 'houses:list' %}">{{ h.title }}</a>&nbsp;{% endfor %},
    ваша УК: {% for h in user.houses.all %}<a href="{% url 'companies:details' h.company_id %}">{{ h.company.title }}</a>&nbsp;{% endfor %}
  </div>
</div>

<div class="border mt-3 p-3">
<p>Изменить данные</p>
{% if form and form.errors %}
  <ul style="color:red;">
    {% for error in form.username.errors %}
      <li>Имя пользователя: {{ error }}</li>
    {% endfor %}
    {% for error in form.password2.errors %}
      <li>Пароль: {{ error }}</li>
    {% endfor %}
  </ul>
{% endif %}
<form class="row gx-3 gy-2 align-items-center" method="POST" action="{% url 'users:update' %}">
  {% csrf_token %}
  <div class="col-sm-3">
    <label class="visually-hidden" for="username">Имя пользователя</label>
    <input type="text" class="form-control" id="username" name="username" required placeholder="Имя пользователя" value="{{ user.username }}">
  </div>
  <div class="col-sm-3">
    <label class="visually-hidden" for="password1">Пароль</label>
    <input type="password" class="form-control" id="password1" name="password1" placeholder="Пароль">
  </div>
  <div class="col-sm-3">
    <label class="visually-hidden" for="password2">Ёще раз пароль</label>
    <input type="password" class="form-control" id="password2" name="password2" placeholder="Ёще раз пароль">
  </div>
  <div class="col-auto">
    <button type="submit" class="btn btn-primary">Сохранить</button>
  </div>
</form>
</div>

<div class="row">
  <div class="col">
  </div>
</div>

{% endblock content %}