{% extends "base.html" %}

{% block title %}{{ block.super }} Объявления{% endblock title %}

{% block content %}

<div class="col-lg-6">

  <form method="POST" class="needs-validation" novalidate>
    {% csrf_token %}
    <div class="row g-3">

      <div class="col-12">
        <label for="title" class="form-label">Заголовок</label>
        <input type="text" id="title" name="title" class="form-control {% if form.is_bound %}is-{% if form.title.errors %}in{% endif %}valid{% endif %}" required autofocus value="{{ form.title.value|default_if_none:'' }}">
        <div class="invalid-feedback">{{ form.title.errors }}</div>
      </div>

      <div class="col-12">
        <label for="body" class="form-label">Содержание</label>
        <textarea id="body" name="body" class="form-control {% if form.is_bound %}is-{% if form.body.errors %}in{% endif %}valid{% endif %}" required>{{ form.body.value|default_if_none:'' }}</textarea>
        <div class="invalid-feedback">{{ form.body.errors }}</div>
      </div>

      <div class="col-12">
        <label for="house" class="form-label">Дом</label>
        <select id="house" class="form-select" name="house">
          {% for option in form.house %}
            {{ option }}
          {% endfor %}
        </select>
        <div class="invalid-feedback">{{ form.house.errors }}</div>
      </div>

      <div class="col-12">
        <label for="city" class="form-label">Город</label>
        <select id="city" class="form-select" name="city">
          {% for option in form.city %}
            {{ option }}
          {% endfor %}
        </select>
        <div class="invalid-feedback">{{ form.city.errors }}</div>
      </div>

      <div class="col-12">
        <label for="region" class="form-label">Регион</label>
        <select id="region" class="form-select" name="region">
          {% for option in form.region %}
            {{ option }}
          {% endfor %}
        </select>
        <div class="invalid-feedback">{{ form.region.errors }}</div>
      </div>

      <hr class="my-4"/>

      <div class="col-12">
        <button class="w-100 btn btn-primary btn-lg" type="submit">Сохранить</button>
      </div>

    </div>
  </form>
</div>

{% endblock content %}