<div class="card">
  <div class="card-body">
    <div class="card-title">
      <div class="row">
        <div class="col-sm-2">{{ notice.created_dt|date:'d.m.Y' }}</div>
        {% if notice.user == user %}
          {% url 'notices:update' notice.id as update_url %}
          {% url 'notices:delete' notice.id as delete_url %}
          {% include "utils/actions.html" with update_url=update_url delete_url=delete_url %}
        {% endif %}        
      </div>
    </div>
    <p class="card-text">{{ notice.body }}</p>
  </div>
</div>