{% load static %}
<!DOCTYPE html>
<html lang="en" class="h-100">
<head>

<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="ТСЖ,ЖКХ,жилищно-коммунальное хозяйство,сайт ТСЖ,товарищество собственников жилья,сайт дома">

<title>
  {% block title %} {{ house_title }} {% endblock title %}
</title>

<link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
<link href="{% static 'css/css.css' %}" rel="stylesheet">
<link rel="icon" href="{% static 'images/favicon.ico' %}">
{% block css %}{% endblock css %}

</head>
<body class="d-flex flex-column h-100">

<div class="container">
  <header class="blog-header py-3">
    <div class="row flex-nowrap justify-content-between align-items-center">
      <div class="col-4 text-center">
        <a class="blog-header-logo text-dark" href="{% url 'index' %}">
          {% if house_logo %} 
            <img src="{{ house_logo.url }}"/>
          {% else %}
            <h3>{{ house_title }}</h3>
          {% endif %}
        </a>
      </div>
      <div class="col-2 text-center" id="time"></div>
      <div class="col-4 d-flex justify-content-end align-items-center">
        {% if user.is_authenticated %}
          <a class="btn btn-sm btn-outline-secondary" href="{% url 'users:details' %}">Профиль</a>
          &nbsp;
          <a class="btn btn-sm btn-outline-secondary" href="{% url 'logout' %}">Выйти</a>
        {% else %}
          <a class="btn btn-sm btn-outline-secondary" href="{% url 'login' %}">Войти</a>
          &nbsp;
          <a class="btn btn-sm btn-outline-secondary" href="{% url 'users:register' %}">Регистрация</a>
        {% endif %}
      </div>
    </div>
  </header>
  <div class="nav-scroller py-1 mb-2">
    <nav class="nav d-flex justify-content-between">
      {% if house_registered %}
        <span class="p-2">
          <a href="{% url 'meetings:list' %}">Собрания</a>
          {% if user.is_house_admin %}
            {% url 'meetings:add' as url %}
            {% include 'utils/add.html' with url=url %}
          {% endif %}
        </span>
        <span class="p-2">
          <a href="{% url 'tasks:list' %}">Задачи</a>
          {% url 'tasks:add' as url %}
          {% include 'utils/add.html' with url=url %}
        </span>
        <span class="p-2">
          <a href="{% url 'houses:list' %}">Информация</a>
        </span>
      {% endif %}
      <span class="p-2">
        <a href="{% url 'notices:list' %}">Объявления</a>
        {% if user.is_authenticated %}
          {% url 'notices:add' as url %}
          {% include 'utils/add.html' with url=url %}
        {% endif %}
      </span>
      <span class="p-2">
        <a href="{% url 'documents:list' %}">Документы</a>
        {% if user.is_authenticated and user.is_house_admin %}
          {% url 'documents:add' as url %}
          {% include 'utils/add.html' with url=url %}
        {% endif %}
      </span>
      <span class="p-2">
        <a href="{% url 'companies:list' %}">Упр. компании</a>
        {% if user.is_authenticated and user.is_house_admin %}
          {% url 'companies:add' as url %}
          {% include 'utils/add.html' with url=url %}
        {% endif %}
      </span>
      <span class="p-2">
        <a href="{% url 'workers:list' %}">Мастера</a>
        {% if user.is_authenticated %}
          {% url 'workers:add' as url %}
          {% include 'utils/add.html' with url=url %}
        {% endif %}
      </span>
      <span class="p-2">
        <a href="{% url 'forum:list' %}">Форум</a>
      </span>
    </nav>
  </div>
</div>

<main class="flex-shrink-0">
  <div class="container pt-5">
    {% block content %}{% endblock content %}
  </div>
</main>

<footer class="footer mt-auto py-3 bg-light">
  <div class="container">
    <span class="text-muted">
      По всем вопросам пишите <a href="{% url 'forum:details' 1 %}">сюда</a>
    </span>
    <span class="text-muted ms-5">
      Иконка сайта создана <a href="http://shlyapnikova.deviantart.com" target="_blank">Анной Шляпниковой</a>
    </span>
    <span class="text-muted ms-5">
      На сайте используются файлы cookie
    </span> 
  </div>
</footer>

<script type="text/javascript" src="{% static 'vendor/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/js.js' %}"></script>
{% block js %}{% endblock js %}

</body>
</html>