{% extends "base.html" %}

{% block content %}

<div class ="row">
  <div class="col">
    

Cupiditate similique est quibusdam officia rerum. Deserunt amet itaque et nihil illum eum in. Dolor excepturi cupiditate odio.

Quidem dolore debitis ad magnam quia rerum quia dolores. Est tenetur mollitia quaerat et. Corrupti omnis quaerat nihil ipsum amet. Et architecto quia voluptatem mollitia et sed est. In odit ea iste optio.

Tenetur autem quo alias repellat sit consequatur sed. Tempora quos ducimus sed itaque repellendus similique aut. Suscipit consequatur eum ipsam neque. Et cumque qui rerum vel optio. Et aut animi odit.

Omnis nobis facere expedita. Deserunt deserunt ab commodi praesentium. Possimus dignissimos veritatis minus sit et ut et rerum.

Tempora ducimus aliquid excepturi ad ullam id asperiores voluptatem. Eum aut delectus ipsum consectetur voluptatibus molestiae. Et ad iure ipsam facilis qui. Esse nam nemo et. Maxime quia perferendis veritatis aspernatur repellat sunt. Asperiores illo voluptatem nesciunt quaerat sed dolorum aut modi.

  </div>
</div>

{% if house_registered %}
<div class="row mt-3">
  <div class="col">
    <div class="row"><h4>Актуальные задачи</h4></div>
    {% for task in tasks %}
      {% include 'tasks/list-item.html' with task=task %}
    {% endfor%}
  </div>
  <div class="col-md-3">
    {% if next_meeting %}
      <div class="row"><h4>Предстоящее собрание:</h4></div>
      <div class="row"><span>{{ next_meeting.appointed_dt|date:'d.m.Y H:i:s' }}</span></div>
      <div class="row"><span>{{ next_meeting.appointed_place }}</span></div>
    {% endif %}
    {% if last_meeting %}
      <div class="row"><h4>Прошедшее собрание:</h4></div>
      <div class="row"><span>{{ last_meeting.appointed_dt|date:'d.m.Y H:i:s' }}</span></div>
      <div class="row"><span>{{ last_meeting.appointed_place }}</span></div>
    {% endif %}
  </div>
</div>
{% endif %}

<div class="row mt-3">
  <div class="row"><h4>Объявления</h4></div>
  {% for notice in notices %}
    {% include 'notices/list-item.html' with notice=notice %}
  {% endfor %}
</div>

{% endblock content %}