{% extends "base.html" %}

{% block title %}{{ block.super }} Документы{% endblock title %}

{% block content %}

<div class="col-lg-6">

  <form method="POST" class="needs-validation" novalidate enctype="multipart/form-data">
    {% csrf_token %}
    <div class="row g-3">

      <div class="col-12">
        <label for="category" class="form-label">Категория</label>
        <select id="category" class="form-select  {% if form.is_bound %}is-{% if form.category.errors %}in{% endif %}valid{% endif %}" name="category" required>
          <option value="cl" {% if form.category.value == "cl" %}selected=""{% endif %}>Законодательство</option>
          <option value="ch" {% if form.category.value == "ch" %}selected=""{% endif %}>Домашние</option>
        </select>
        <div class="invalid-feedback ">{{ form.category.errors }}</div>
      </div>

      <div class="col-12">
        <label for="title" class="form-label">Название</label>
        <input type="text" id="title" name="title" class="form-control {% if form.is_bound %}is-{% if form.title.errors %}in{% endif %}valid{% endif %}" required autofocus value="{{ form.title.value|default_if_none:'' }}">
        <div class="invalid-feedback">{{ form.title.errors }}</div>
      </div>

      <div class="col-12">
        <label for="file" class="form-label">Файл</label>
        <input type="file" id="file" name="file" class="form-control {% if form.is_bound %}is-{% if form.file.errors %}in{% endif %}valid{% endif %}" value="{{ form.file.value|default_if_none:'' }}">
        <div class="invalid-feedback">{{ form.file.errors }}</div>
      </div>

      <div class="col-12">
        <label for="href" class="form-label">Ссылка</label>
        <input type="url" id="href" name="href" class="form-control  {% if form.is_bound %}is-{% if form.href.errors %}in{% endif %}valid{% endif %}" value="{{ form.href.value|default_if_none:'' }}">
        <div class="invalid-feedback">{{ form.href.errors }}</div>
      </div>

      <div class="col-12">
        <label for="house" class="form-label">Дом</label>
        <select id="house" class="form-select" name="house">
          {% for option in form.house %}
            {{ option }}
          {% endfor %}
        </select>
        <div class="invalid-feedback">{{ form.house.errors }}</div>
      </div>

      <hr class="my-4"/>

      <div class="col-12">
        <button class="w-100 btn btn-primary btn-lg" type="submit">Сохранить</button>
      </div>

    </div>
  </form>
</div>

{% endblock content %}