{% load custom %}

<li>
  <div class="row mt-2 align-items-center">
    <div class="col-sm-5">
      <a href="{% if doc.href %}{{ doc.href }}{% else %}{{ doc.file.url }}{% endif %}" target="_blank">{{ doc.title }}</a>
      &nbsp;{{ doc.uploaded_dt|change_tz:user|date:"d.m.Y" }}
    </div>
    {% if can_admin %}
      {% url 'documents:update' doc.id as update_url %}
      {% url 'documents:delete' doc.id as delete_url %}
      {% include "utils/actions.html" with update_url=update_url delete_url=delete_url %}
    {% endif %}
  </div>
</li>