{% extends "base.html" %}
{% load custom %}

{% block title %}{{ block.super }} Документы{% endblock title %}

{% block content %}

  {% if laws %}
    <h2>Законодательство</h2>
    <ul>
      {% with is_house_admin=user.is_house_admin %}
        {% for doc in laws %}
          {% include "documents/list-item.html" with doc=doc can_admin=is_house_admin %}
        {% endfor %}
      {% endwith%}
    </ul>
  {% endif %}

  {% if documents %}
    {% regroup documents by house as groupped_docs %}
    <h2>Домашние</h2>
    <ul>
      {% if groupped_docs|length == 1 %}

        {% with is_house_admin=documents.0|object_can_admin:user %}
          {% for doc in documents %}
            {% include "documents/list-item.html" with doc=doc can_admin=is_house_admin %}
          {% endfor %}
        {% endwith %}

      {% else %}

        {% for house in groupped_docs %}
          <li>
            {{ house.grouper }}
              <ul>
                {% with is_house_admin=house.list.0|object_can_admin:user %}
                  {% for doc in house.list %}
                    {% include "documents/list-item.html" with doc=doc can_admin=is_house_admin %}
                  {% endfor %}
                {% endwith %}
              </ul>  
            </li>
        {% endfor %}

      {% endif %}
    </ul>  
  {% endif %}

{% endblock content %}