<div class="col-sm-3 ms-auto">
  {% if update_url %}
    <a class="btn btn-outline-warning" href="{{ update_url }}">Изменить</a>
  {% endif %}
  {% if delete_url %}
    <form style="display:inline;" method="POST" action="{{ delete_url }}" onsubmit="return confirm('Точно удалить?');">
      {% csrf_token %}
      <button type="submit" class="btn btn-outline-danger">Удалить</button>
    </form>
  {% endif %}
</div>